.founderPage-main {
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
  background: #f7f8fc;
}

.founderpage-founder {
  background-color: #fff;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: var(--transition-slide);
}

.founderpage-founder:hover {
  transform: scale(1.01);
}

.founderpage-founder-div-img {
  flex: 1 1 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.founderpage-founder-img {
  width: 100%;
  max-width: 240px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
  transition: var(--transition-slide);
}

.founderpage-founder-img:hover {
  transform: scale(1.05);
}

.founderpage-founder-h2 {
  flex: 2 1 300px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.founderpage-founder-p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
}

.founderpage-developer-h2 {
  text-align: center;
  font-weight: 700;
  color: #3f3d56;
  font-size: 2rem;
  margin-top: 3rem;
  text-decoration: underline;
}

.founderpage-developers {
  width: 100%;
  padding: 2rem 0;
  align-items: center;
}

.founderpage-developers-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .founderpage-founder {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .founderpage-founder-h2 {
    font-size: 1.2rem;
    align-items: center;
  }

  .founderpage-founder-p {
    font-size: 0.9rem;
  }

  .founderpage-developer-h2 {
    font-size: 1.5rem;
  }
}
