.footer-container{
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to right,rgb(133, 208, 255), rgb(35, 137, 233));

}
.all-components{
  width: 80%;
  height: 20%;
 display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
  margin-left: 0%;
  margin-top: 0px;
}
.footer-logo{
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;
}
.footer-bottom{
  width: 150%;
  margin-left: 15%;
  margin-top: 30px;
}
.first-text, .second-text {
  text-align: center; /* Center the text inside each div */
  margin: 5px 0; /* Add margin for spacing between the texts */
}
.social-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 20%;
  font-size: 30px;
  margin-left: 100%;
  margin-top: 0px;
 
}
@media(max-width:1200px){
  .social-icons{
    
    margin-left: 75%;
    margin-top: 0px;
  }
}
@media(max-width:800px){
  .first-text{
    font-size: 10px;
  }
  .second-text{
    font-size: 10px;
  }
  .social-icons{
    font-size: 20px;
    gap: 5px;
  }
  .footer-logo{
    width: 50px;
    height: 50px;
  }
}
@media(max-width:500px){
  .first-text{
    font-size: 8px;
  }
  .second-text{
    font-size: 8px;
  }
}