.header-section {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding: 10px 20px; */
  width: 100%;
  height: 25em;
  position: relative;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  /* background: #000; */
  position: relative;
  
}

/* Background Image */
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 2s ease-in-out;
  z-index: -1;
  object-fit: cover;
 
}

/* Navigation */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 100vw;
  border-radius: 0.5em;
  padding: 8px;
  transition: background-color 2s ease-in-out;
 
}
.nav-container:hover{

  background: rgba(109, 109, 109, 0.3);
  backdrop-filter: blur(10px);
}
.secicon{
  font-size: 1.2rem;

  



}
/* Logo */
.header-logo {
  height: 7em;
  padding: 0em;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 0px;

}

.nav-menu {
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}


.nav-links,.nav-links-open {
  display: flex;
  gap: 1em;
  
  
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 8px;
  background: -webkit-linear-gradient(120deg, #ffffff, #000000);
  background-clip: text;
  color: transparent;
 
}

.nav-link:hover {
  background-color: #f0f0f0;
  color: #0055ff;
}

.toggle-button{
  display: none;
}


@media (max-width:1150px){

  .nav-link{
    font-size: 0.7rem;
    padding: 5px 15px;
  } 
  .header-logo{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    
  
  }
  
}
@media (max-width:850px){
  .nav-menu{
    margin-top: 10%;
    margin-right: 10%;
    transition: all 0.5s ease;
  
  }
  .nav-link{
    font-size:none;
    padding: 15px;
   
   
  }
  .nav-link:hover{
    border-bottom: 1px solid #a8a3a3a5;
    border-top: 1px solid #a8a3a3a5;
  }
  .header-logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    top: 3%;
    left: 2%;
  
  }
   .nav-links,.nav-links-open{
  flex-direction: column;
  border: 1px solid #000000a5;
  background-color: #000000;
  height: 350px;
  gap: 1px;
  background: -webkit-linear-gradient(99deg, #999999, #000000);
  } 

  .nav-links-open{
    position: absolute;
    top: -400px;
    transition: all 5s ease;
  }
 
  .toggle-button{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
    display: block;
  }

}


/* SOS Button */
.sos-link {
  /* background-color: white; */
  color: #ff4d4d;
  padding: 10px 15px;
  border-radius: 8px;
}

.sos-link:hover {
  background-color: #ff3e3e;
  color: rgb(16, 131, 246);
}

/* Login Button */
.login-button-header {
  /* background-color: #007bff; */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(360deg, #000000, #7f7f7f);
  background-clip: text;
 color: transparent;
  
}

.login-button-header:hover {
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
}
