@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
* {
  transition: all 0.3s ease-in-out;
}
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  min-height: 30vh;
  position: relative;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f8fb;
  color: #333;
}
